.bloc-page-restaurant-details
{

.conteneur-logo--logo
 {
width: 180px  ;
}

.conteneur-la-note
{
    display: flex;
    flex-direction: column;
    align-items: center;

.conteneur-menu
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f2f2f2;
    border-radius: 30px;
    margin-top: -30px;
    position: relative;
    width: 100%;
    align-items: center;
    
    @media only screen and (min-width: 768px)
    {
        width: 1100px;
    }
}

.conteneur-titre-la-note
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
}

h4 
{
    width: 100%;
    font-weight: 300;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
   
  }
    
  h4:after
  {
     content: "";
      position: absolute;
      width: 8%;
      height: 3px;
      bottom: 0;
      left: 0%;
      border-bottom: 3px solid $tertiaire;
   
  }


.fleche-retour
{
    width: 100%;
    position: absolute;
}

.fa-heart
{
   padding-top: 20px;
    padding-right: 15px;
}

img
{
    width: 100%;
   
}

.images-restaurants
{
    width: 100%;
    max-height: 300px;
    overflow: hidden;
img{
    width: 100%;
    height: auto;
}
}

h1
{
    margin-left: 15px;
}

.choix
{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    width: 95%;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
   /* animation: apparition-choix 0.5s;   apparition 
    animation-timing-function: ease-in-out; 
    animation-fill-mode: forwards; <-cacher 'check'  */
    text-overflow: ellipsis;

    &:hover i {
        transform: rotate(0);
    }

    &__confirmation
{
    margin-right: -70px;
    width: 75px;
    height: 82px;
    background-color: $tertiaire;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 20px 0 ;
    transition-duration: 1s;
    margin-right: 0 !important;
    position: absolute !important;
    right: -75px;



}
&__icon
{
    transition: transform 2s;
    transform: rotate(180deg);
}

}

.intitule
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &h2
    {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    &p
    {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
    }
}

.prix
{
    padding-top: 40px;
    padding-right: 15px;
}

  .choix:hover .choix__confirmation 
  {
    transform: translateX(-75px);
  }

  .intitule-prix {
    transition: width 1s;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.choix:hover .intitule-prix {
    width: calc(100% - 75px);
}

.intitule 
{
    p, h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
}

.choix:nth-child(3) {
    animation: apparition 2s backwards;
} 

.choix:nth-child(4) {
    animation: apparition 2s 0.2s backwards;
} 

.choix:nth-child(5) {
    animation: apparition 2s 0.4s backwards;
} 

.choix:nth-child(6) {
    animation: apparition 2s 0.6s backwards;
} 

.choix:nth-child(8) {
    animation: apparition 2s 0.8s backwards;
} 

.choix:nth-child(9) {
    animation: apparition 2s 1s backwards;
}

.choix:nth-child(10) {
    animation: apparition 2s 1.2s backwards;
}

.choix:nth-child(12) {
    animation: apparition 2s 1.4s backwards;
}

.choix:nth-child(13) {
    animation: apparition 2s 1.6s backwards;
}

.choix:nth-child(14) {
    animation: apparition 2s 1.8s backwards;
}
  
.footer--logo-blanc
{
    width: 100px;
}

li
{
    color: white;
    list-style-type: none;
}
a
{
    text-decoration: none;
}

h2
{
font-size: 17px;
}

p
{
font-size: 13px;
}

h1
{
    font-family : 'Shrikhand', cursif ;
    font-weight: bold;
    font-size: 26px;
}

.fa-arrow-left
{
    color: black;
    font-size: 20px;
}

}

