.bloc-page-restaurant-details
{


.conteneur-logo
{
    display: flex;
  justify-content: center;

    
        &--logo
        {
        width: 200px  ;
        }
}

.conteneur-la-note
{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;

.conteneur-titre-la-note
{
    display: flex;
    background-color: #f2f2f2;
    border-radius: 30px;
    margin-top: -30px;
    position: relative;
    width: 100%;
    
}
}

h4 
{
    width: 100%;
    font-weight: 300;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
   
  }
   
  h4:after
  {
     content: "";
      position: absolute;
      width: 8%;
      height: 3px;
      bottom: 0;
      left: 0%;
   
      border-bottom: 3px solid $tertiaire;
   
  }


.fleche-retour
{
    width: 100%;
    position: absolute;
}

.fa-heart
{
    padding-top: 25px;
    padding-left: 15px;

    &:hover
    {
        color: $primaire;
    }
}

img
{
    width: 100%;
}

.choix
{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    width: 90%;
    margin-top: 20px;
}

.prix
{
    padding-top: 40px;
    padding-right: 15px;
}

h1
{
    margin-left: 15px;
}

.choix__confirmation
{
    position: relative;
    margin-right: -70px;
    width: 75px;
    height: 80px;
    background-color: $tertiaire;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 20px 0 ;
}

.footer
{
    background-color: #383838;

        &--logo-blanc
        {
            width: 100px;
            padding-top: 20px ;
            padding-left: 40px;
        }

        a
        {
            color: white;
        }
}

li
{
    color: white;
    list-style-type: none;
}
a
{
    text-decoration: none;
}
}

